# Lab | Inferential statistics - T-test & P-value

#### 1. One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

<br>

In [45]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [26]:
data = pd.read_csv('files_for_lab/machine.txt', sep='\t' , encoding='utf-16le')

In [27]:
data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [36]:
data.columns = ['new_machine','old_machine']

Hypothesis: New machine mean > Old machine mean

In [46]:
sample_mean = data['new_machine'].mean()
sample_std = data['new_machine'].std(ddof=1)
pop_mean = data['old_machine'].mean()
pop_std = data['old_machine'].std()

sem = pop_std/np.sqrt(data.shape[0])
print("Population mean is: {:.2f}".format(pop_mean))
print()
print("Our sample mean is: {:.2f}".format(sample_mean))
print("Our sample standard deviation is: {:.2f}".format(sample_std))
print("The sem is: {:.2f}".format(sem))
print()
t = (sample_mean - pop_mean) / sem
print("Our statistic is: {:.2f}".format(t))
print("The p_value corresponding to our statistic is: {:.2f}".format(st.t.cdf(t,df = len(data['new_machine'])-1)))
print("The significance level is set to 0.05")
print("We accept the H0?")

Population mean is: 43.23

Our sample mean is: 42.14
Our sample standard deviation is: 0.68
The sem is: 0.24

Our statistic is: -4.60
The p_value corresponding to our statistic is: 0.00
The significance level is set to 0.05
We accept the H0?

There is no evidence to support the H0, we reject.

In [49]:
t_statistic, p_value = st.ttest_1samp(data['new_machine'], popmean = 43.23, alternative = "less")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t_statistic, p_value))

The t statistic of our sample is: -5.04 and the corresponding p-value is: 0.00

#### 2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

<br>

In [51]:
pokemon_data = pd.read_csv('files_for_lab/pokemon.csv')
pokemon_data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

H0: Defense.mean() = Attack.mean()

H1: Defense.mean() != Attack.mean()

In [54]:
sample_mean = pokemon_data['Defense'].mean()
sample_std = pokemon_data['Defense'].std(ddof=1)
pop_mean = pokemon_data['Attack'].mean()
pop_std = pokemon_data['Attack'].std()

sem = pop_std/np.sqrt(pokemon_data.shape[0])
print("Population mean is: {:.2f}".format(pop_mean))
print()
print("Our sample mean is: {:.2f}".format(sample_mean))
print("Our sample standard deviation is: {:.2f}".format(sample_std))
print("The sem is: {:.2f}".format(sem))
print()
t = (sample_mean - pop_mean) / sem
print("Our statistic is: {:.2f}".format(t))
print("The p_value corresponding to our statistic is: {:.2f}".format(st.t.cdf(t,df = len(pokemon_data['Defense'])-1)))
print("The significance level is set to 0.05/2")
print("We accept the H0?")

Population mean is: 79.00

Our sample mean is: 73.84
Our sample standard deviation is: 31.18
The sem is: 1.15

Our statistic is: -4.50
The p_value corresponding to our statistic is: 0.00
The significance level is set to 0.05/2
We accept the H0?

In [53]:
t_statistic, p_value = st.ttest_1samp(pokemon_data['Defense'], popmean = 79, alternative = "two-sided")
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t_statistic, p_value))

The t statistic of our sample is: -4.68 and the corresponding p-value is: 0.00

P(x<=t)=0.0 < 0.05/2=0.025

We reject the H0 --> defense and attack scores are not equal.

### OPTIONAL PART | Inferential statistics - ANOVA

### Part 1 & 2

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and <font color='blue'>check if there is any difference in the mean etching rate for different levels of power</font>. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

In [55]:
data_anova = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
data_anova.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [59]:
data_anova.columns = ['power','etchint_rate']

In [61]:
data_anova['power'].unique()

array(['160 W', '180 W', '200 W'], dtype=object)

In [72]:
group_df = data_anova.groupby('power')['etchint_rate'].mean().reset_index()
group_df

   power  etchint_rate
0  160 W         5.792
1  180 W         6.238
2  200 W         8.318

#### Hypothesis

$$H0: \mu_{1}=\mu_{2}=\mu_{3}$$
$$H1: \mu_{1}\neq\mu_{2}\neq\mu_{3}$$

In [76]:
df_160w = data_anova[data_anova['power'] == '160 W']
df_180w = data_anova[data_anova['power'] == '180 W']
df_200w = data_anova[data_anova['power'] == '200 W']

In [79]:
import scipy.stats as stats

# ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df_160w['etchint_rate'], df_180w['etchint_rate'], df_200w['etchint_rate'])
print('ANOVA F: ', fvalue)
print('p_value: ', pvalue)

ANOVA F:  36.87895470100505
p_value:  7.506584272358903e-06

As the p_value is < 0.05 we reject H0.